*{
    margin:0;
    padding:0;
    box-sizing :border-box;
} 

$mainBlack:#222;
$mainGreen:#82b340;
$mainWWhite:#fff;
$mainGrey:#ececec;

body{
    background:#fff;
    color:#222;
    font-family:"Open Sans sans-serif";
}